@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

:root {
    --white: #ffffff;
    --dark-gray: #242424;
    --light-gray: #666666;
    --alpha-gray: #0000001a;
    --dark-alpha-gray: #000000b3;
}

* {
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    outline: none; border: none;
    margin: 0; padding: 0;
    transition: all .2s linear; 
    font-family: 'Popins', sans-serif;
}


html {
    font-size: 62.5%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

::selection {
    color: var(--white);
    background: var(--light-gray);
}


section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--dark-gray);
    color: var(--white);
    padding: .8rem 3rem;
    border: .2rem solid var(--white);
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    color: var(--dark-gray);
    background: var(--light-gray);
    transform: scale(1.1);
}


/* ==================== header ==================== */
header {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1000;
    top: 0; left: 0; right: 0;
    justify-content: space-between;
    background: var(--dark-gray);
    padding: 2rem 9%;
}

header .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--white);
}

header .title span {
    color: var(--light-gray);
}

header .title img {
    position: absolute;
    top: 8px;
    left: 115px;
    width: 50px;
    height: 50px;
}

header .title img:hover {
    transform: scale(1.1);
}

header .navbar a {
    margin: 0 .8rem;
    font-size: 2rem;
    color: var(--white);
}

header .navbar a:hover {
    color: var(--light-gray);
}

header .icons i {
    margin-right: 1.5rem;
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
}

header .icons i:hover {
    color: var(--light-gray);
    transform: scale(1.2);
}

header .icons .fa-car {
    color: #acacac;
}


/* ========================= slider ====================== */
.intro {
    width: 100%;
    height: 94.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.intro .content {
    margin-top: -145px ;
}

.intro .content h1 {
    font-size: 6rem;
    color: var(--dark-alpha-gray);
    text-align: center;
    font-weight: bold;
}

.intro .content h3 {
    position: absolute;
    top: 500px;
    left: 498px;
    font-size: 1.4rem;
    color: var(--dark-gray);
}

.intro .content a { 
    position: absolute;
    top: 520px;
    left: 525px;
}

.slider .slide img {
    width: 650px;
    height: 400px;
}

.slider .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-top: 38px;
}

.slider .controls img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.slider .controls img.active {
    border: 3px solid var(--light-gray); 
}

.slider .controls img:hover {
    transform: scale(1.1);
}


/* ============ footer =========== */
footer {
    background: var(--dark-gray);
    font-size: 2rem;
    padding: 1.5rem;
    text-align: center;
    color: var(--white);
}